FileCenterTests/FileCenterTests.xcworkspace/xcuserdata/default.xcuserdatad/UserInterfaceState.xcuserstate
FileCenterTests/FileCenterTests.xcworkspace/xcuserdata/default.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
